@using MediQuick.Data.Enums
@model MediQuick.Web.Models.BaseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">

        @if(!MediQuick.Web.Controllers.BaseController.IsAuthorised(Model))
        {
            @:window.location.href = "@Url.Action("Login","User")";
        }
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MediQuick</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MediQuick.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
        $(function() {
            toastr.options = {
              "closeButton": true,
              "debug": false,
              "newestOnTop": false,
              "progressBar": true,
              "positionClass": "toast-top-right",
              "preventDuplicates": false,
              "onclick": null,
              "showDuration": "300",
              "hideDuration": "1000",
              "timeOut": "5000",
              "extendedTimeOut": "1000",
              "showEasing": "swing",
              "hideEasing": "linear",
              "showMethod": "fadeIn",
              "hideMethod": "fadeOut"
            }

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.AmbulanceDriver.ToString()))
            {
                @:startUpdatingLocation();
            }

            @if (Model.Messages != null)
            {
                foreach (var message in Model.Messages)
                {
                    @:toastr["@message.Type.ToString().ToLower()"]("@message.Text");
                }
            }
        })
        
    </script>
</head>
<body>
    <header>
        <div class="topnav">
            <a class="active" href="@Url.Action("Index", "Home")">Home</a>
            <a href="@Url.Action("About", "Home")">About</a>

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.Admin.ToString()))
            {
                    <a b-e1ocawbhh6 asp-area="" asp-controller="Admin" asp-action="CreateUser">Create User</a>

            }

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.Admin.ToString()))
            {
                    <a b-e1ocawbhh6 asp-area="" asp-controller="Admin" asp-action="CreateHospital">Create Hospital</a>

            }

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.HospitalAdmin.ToString()))
            {
                <a b-e1ocawbhh6 asp-area="" asp-controller="Admin" asp-action="CreateUser">Register Employee</a>

                
            }

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                (Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.HospitalEmployee.ToString()) || 
                 Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.HospitalAdmin.ToString())))
            {
                <a b-e1ocawbhh6 asp-area="" asp-controller="Hospital" asp-action="ViewHospitalAmbulances">View Ambulances</a>
            }

            @if(Model != null && Model.User != null && Model.User.UsersRoles != null &&
                (Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.Admin.ToString()) || 
                 Model.User.UsersRoles.Select(x => x.Role.Name).Contains(RoleType.AmbulanceDriver.ToString())))
            {
                <a b-e1ocawbhh6 asp-area="" asp-controller="Ambulance" asp-action="AssignPatient">Patient</a>
            }

            @if((Model != null && Model.User == null) || Model == null )
            {
                <div class="login-container round-corners">
                    <a class="round-corners"  b-e1ocawbhh6 asp-area="" asp-controller="User" asp-action="Login">Log in</a>
                </div>
            }

            @if(Model != null && Model.User != null)
            {
                <div class="login-container round-corners">
                    <a class="round-corners"  b-e1ocawbhh6 >Logged in as @Model.User.UsersRoles.FirstOrDefault().Role.Name</a>
                    <a class="round-corners"  b-e1ocawbhh6 asp-area="" asp-controller="User" asp-action="Logout">Log out</a>
                </div>
            }
        </div>
    </header>
    <div id="page-container" class="container">
        <main id="content-wrap" role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MediQuick.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
